
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <h1 class="titleBank"><b>Prestamo Banco</b></h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="https://media-exp1.licdn.com/dms/image/C4D03AQGWU5kldwQNpQ/profile-displayphoto-shrink_800_800/0/1599315542766?e=1660176000&v=beta&t=f3DnW1wRyNWbSk8ExbwquuRBa8V1mW7y2bitIOA1IeI" />
    <h2 class="name">Alejandra Leon</h2>
    <p class="designation">Asistente Bancario</p>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/bank/payment">
      <mat-icon> attach_money</mat-icon>
      <span>Pagar Deuda</span>
    </button>
    <button mat-button class="menu-button" routerLink="/bank/application">
      <mat-icon>person_add</mat-icon>
      <span>Solicitar prestamo</span>
    </button>
    <mat-divider></mat-divider>
    <div>
      <h2 class="name">Banco</h2>
    </div>
    <div class="menu-button-bank">
      <span>monto total:</span>
      <span>{{capitalBank}}</span>
    </div>
    <div class="menu-button-bank">
      <span>monto prestado:</span>
      <span>{{currencyBorrowed}}</span>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
